@font-face {
    font-family: 'FZLBJW';
    font-style: normal;
    font-weight: normal;
    src: url('../font/fzlbjt.ttf') format('truetype');
}
.aa {
    font-family: 'FZLBJW';
    font-size: 30px;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}