.location {
  font-size: 14px;
  color: #000000;
  overflow: hidden;
  background-color: #fff;

  ul {
    overflow: hidden;
  }
  li {
    float: left;
    margin-right: 9px;
  }
  .location-img {
    margin-right: 20px;
  }
}