.w-1180 {
  width: 1180px;
  margin: 0 auto;
}
.w-1340 {
  width: 1340px;
  margin: 0 auto;
}
.w-1670 {
  width: 1670px;
  margin: 0 auto;
}
.dn {
  display: none;
}
.vh {
  visibility: hidden;
}
.tc {
  text-align: center;
}
textarea {
  resize:none;
  border: none;
}
input,button,select,textarea{outline:none}
//右侧导航

.nav-right {
  position: absolute;
  right: 100px;
  top: 300px;
  z-index: 999;
  color: #fff;
  font-family: FZLBJW;
  display: none;
}
.nav-right-title {
  margin-bottom: 10px;
  width: 134px;
  height: 100px;
  position: relative;
  text-align: center;
  font-size: 26px;
  padding: 10px 0;
  @include defaultFlex;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .title-font-box {
    position: relative;
    z-index: 10;
  }
  .title-font-box p {
    line-height: 1;
  }
}
.nav-right-ul {
  li {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 134px;
    border: none;
    //padding: 15px 0;
    font-size: 17px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    position: relative;
  }
  a {
    color: #FFFFFF;
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .green {
    background-color: #a6b26a;
    box-shadow: 3px 3px 3px rgba(131,142,75,0.5);
  }
  .orange {
    background-color: #d09b68;
    box-shadow: 3px 3px 3px rgba(183,120,58,0.5);
  }
  .sea {
    display: none;
  }
  li.orange:hover {
    background-color: #b7783b!important;
    .sea {
      display: block;
    }
  }
  li.green:hover {
    //background-color: #b7783b!important;
    .sea {
      display: block;
    }
  }
  .scroll-mark { // 滚动标记
    background-color: #b7783b;
  }
}

//中间logo样式
.title-box {
  text-align: center;
  padding: 80px 0 10px 0;
  background-color: #fff;
}

.title-img {
  width: 422px;
  //height: 95px;
  display: inline-block;
  border: 1px solid #8e8e8e;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  text-align: center;

  div {
    text-align: center;
    color: #8e8e8e;
    font-size: 20px;
    font-family: FZLBJW;
    line-height: 1.4;
  }
  .title-name {
    color: #000000;
    font-size: 40px;
  }
  .title-eng {
    color: #8e8e8e;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .title-line {
    width: 156px;
    height: 2px;
    background-color: #8e8e8e;
    display: inline-block;

  }

  img {
    width: 100%;
    height: 100%;
  }
}
.title-arrow {
  img {
    width: 24px;
  }
}
.the-p {
  padding: 0 80px;
  position: relative;
  z-index: 20;
}
.main-box {
  position: relative;
  //background-color: #fff;
}
.bg-LR {
  position: absolute;
  z-index: -1;
  top: 105px;
  height: 593px;
  width: 336px;
  img {
    width: 100%;
    height: 100%;
  }
}
.bg-left {
  left: -168px;
}
.bg-right {
  right: -168px;
}

// 移动端右侧导航
.mobile-right-nav-btn {
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  right: 10px;
  z-index: 996;
  img {
    width: 100%;
    height: 100%;
  }
}
.mobile-right-nav {
  //height: 100%;
  width: 750px;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  //right: 0px;
  right: -750px;
  top: 0;
  z-index: 999;
  font-family: FZLBJW;
  overflow-y: scroll;
  li {
    border: 1px solid rgba(0,0,0,.125);
    //display: flex;
  }
  .mobile-nav-right-ul li.green {
    background-color: #a6b26a;
  }
  .mobile-nav-right-ul li.orange {
    background-color: #b7783b!important;
  }
  .mobile-nav-right-ul a, .mobile-nav-right-ul a {
    min-height: 200px;
    width: 100%;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1;
  }
}
.mobile-right-nav-top {
  height: 470px;
  position: relative;
  width: 100%;
  @include defaultFlex;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .title-font-box {
    color: #FFFFFF;
    text-align: center;
    font-size: 100px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .nav-right {
    display: none;
  }
  .mobile-right-nav-btn {
    display: block;
  }
  .title-box {
    padding-bottom: 150px;
  }
  .title-img .title-name {
    font-size: 100px;
  }
  .title-img .title-eng {
    font-size: 80px;
  }
  .title-arrow img {
    width: 50px;
  }
  .title-img {
    width: 550px;
  }
  .title-img .title-line {
    height: 5px;
  }
}