/*@charset "utf-8"; html{overflow:hidden}position: absolute;bottom: 0;
    width: 100%;*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body{font-family:微软雅黑;font-size:16px;color:#000;word-wrap:break-word;behavior:url(csshover.htc);overflow-x:hidden;background: #f0f0f0;}
button,input,select,textarea{font:12px/1.5 Arial,"宋体",Helvetica,Verdana,sans-serif;word-wrap:break-word;color:#565756}
ul,li{list-style:none;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
img{border:0;border:0;vertical-align:middle}
a{text-decoration:none;outline:0}
p{margin:0;padding:0}
input,select,textarea{vertical-align:middle;*font-size:100%}
input{margin:0;outline:0;padding:0}
input::-ms-clear{display:none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
.fl{float: left;}
.fr{float: right;}
.ddw{position:absolute;left:0;top:0;color:#000;font-size:16px;z-index:9999}
.ddw2{position:absolute;left:20px;top:0;color:#000;font-size:16px;z-index:9999}.num_box{position:relative}
.section{color:#fff;width:100%;text-align:center;position:relative;}
.fixed_r{position:absolute;left:10px;z-index:999;bottom:50%;display: none;}
.fixed_r li{width: 1px;height: 23px;background: transparent;border: 1px solid #fff;cursor:pointer;margin-top:8px;box-sizing: border-box;opacity: .25;}
.fixed_r li.on{opacity:1;}
.logo{position: fixed;z-index: 999;top: 15px;left: 20px;}
.nav-list{position: absolute;top: 20px;left: 34%;}
.nav-list::before,.nav-list::after{display: block;content: "";clear: both;}
.nav-list li{float: left;margin: 0 15px;}
.nav-list li a{color: #fff;}
.num-info{position: absolute;z-index: 999;left:46%;top: 10%;margin-left:-267px;}
.num-info .flarger{font-size: 40px;font-weight: 400;color: #fff;}
#button-group{margin-top:64px;}
#button-group a{display: inline-block;padding: 11px 42px;border:2px solid #fff;border-radius:50px;color: #fff;    margin: 0 19px;min-width: 100px;}
#button-group a:hover{background: #fff;color: #000;}
/*index*/
/*汽泡*/
.top-nav .sea{display: none;}
.bubble {
	position:absolute;
	bottom:0px;
	animation:bubbleRise 4s linear infinite;
	
}
.bubble1 {
	left:30%; width:33px; height:34px;
	-webkit-animation:bubbleRise 8s linear infinite;
  -moz-animation:bubbleRise 8s linear infinite;
  -o-animation:bubbleRise 8s linear infinite;
	animation:bubbleRise 8s linear infinite;
	background: url(../images/qp_01.png) no-repeat;
}
.bubble2 {
	left:70%; width:11px; height:11px;
	-webkit-animation:bubbleRise 5s linear infinite;
  -moz-animation:bubbleRise 5s linear infinite;
  -o-animation:bubbleRise 5s linear infinite;
	animation:bubbleRise 5s linear infinite;
	background: url(../images/qp_02.png) no-repeat;
}
.bubble3 {
	left:80%; width:8px; height:9px;
	-webkit-animation:bubbleRise 4s linear infinite;
  -moz-animation:bubbleRise 4s linear infinite;
  -o-animation:bubbleRise 4s linear infinite;
	animation:bubbleRise 4s linear infinite;
	background: url(../images/qp_03.png) no-repeat;
}

@-webkit-keyframes bubbleRise{
	0%{transform:translate(0px,0px);opacity:0;border-color:rgba(255,255,255,0.2);}
	10%{transform:translate(0px,0px);opacity:1;}
	30%{transform:translate(-1px,-30px);}
	50%{transform:translate(1px,-60px);}
	75%{transform:translate(-1px,-90px) scale(1.2);}
	98%{opacity:1;border-color:rgba(255,255,255,0.35);}
	100%{transform:translate(0px,-120px) scale(1.4);opacity:0;border-color:rgba(255,255,255,0.2);}
}
@keyframes bubbleRise{
	0%{transform:translate(0px,0px);opacity:0;border-color:rgba(255,255,255,0.2);}
	10%{transform:translate(0px,0px);opacity:1;}
	30%{transform:translate(-1px,-30px);}
	50%{transform:translate(1px,-60px);}
	75%{transform:translate(-1px,-90px) scale(1.2);}
	98%{opacity:1;border-color:rgba(255,255,255,0.35);}
	100%{transform:translate(0px,-120px) scale(1.4);opacity:0;border-color:rgba(255,255,255,0.2);}
}
@-moz-keyframes bubbleRise{
	0%{transform:translate(0px,0px); opacity:0; border-color:rgba(255,255,255,0.1);}
	10%{transform:translate(0px,0px); opacity:1;}
	30%{transform:translate(-1px,-15px);}
	50%{transform:translate(1px,-30px);}
	75%{transform:translate(-1px,-50px) scale(1.2);}
	98%{opacity:1; border-color:rgba(255,255,255,0.25);}
	100%{transform:translate(0px,-67px) scale(1.4); opacity:0; border-color:rgba(255,255,255,0.1);}
}
/*汽泡*/
.top-nav{background:rgba(0,0,0,.5);height: 76px;line-height: 76px;position: fixed;top: 0;left: 0;right: 0;z-index: 99;}
.top-nav .topnav{margin: 0 auto;text-align: center;}
.top-nav .topnav li{text-align: center;position: relative;font-size: 16px;display: inline-block;padding: 0 8px;margin: 0 15px;} 
.top-nav .topnav li a{color: #fff;}
.top-nav  > .topnav > li > a {
  padding: 28px 10px 29px 10px;
  text-decoration: none;
  text-transform: uppercase;
  /*color: #eee;*/
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.top-nav  > .topnav > li:hover .sea{display: block;}
.top-nav  > .topnav > li:hover > a {
  /*color: #000;*/
  position: relative;
}
.top-nav  > .topnav > li:hover::before{
	display: block;
	content: "";
	position: absolute;
	left: -14px;
	background:url(../images/nav_bg.png) no-repeat ;
	bottom: 2px;
	width: 14px;
	height: 57px;
	margin-top: -28.5px;
}
.top-nav  > .topnav > li:hover::after{
	display: block;
	content: "";
	position: absolute;
	background: url(../images/nav_bg.png) no-repeat;
	right: -14px;
	bottom: 2px;
	transform: rotate(-180deg);
	width: 14px;
    height: 57px;
    margin-top: -28.5px;
}
.top-nav  > .topnav > li.nav-has-sub > a {
  padding-right: 25px;
  display: inline-block;
    width: 100%;
    box-sizing: border-box;
    line-height: initial;
}
.top-nav  > .topnav > li.nav-has-sub > a::after {
  position: absolute;
  top: 50%;
  right:7px;
  width: 8px;
  height:8px;
  margin-top:-5px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.top-nav .topnav ul{position: absolute;left: 9999px;    top:76px;background:rgba(0,0,0,.5);border-radius: 0 0 8px 8px;box-shadow: 0 1px 5px rgba(0,0,0,.47);}
.top-nav .topnav li:hover > ul {
  left: auto;
}

.top-nav  > .topnav ul ul {
  margin-left: 100%;
  top: 0;
}

.top-nav  > .topnav ul li {
  height: 0;
  width: 100%;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
  background: url(../images/border_line.png) no-repeat top center;
  margin: 0;
}

.top-nav .topnav li:hover > ul > li {
  height: 52px;
  line-height: 52px;
  text-align: center;
}
.top-nav .topnav ul li a {
  width:100%;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  display: block;
  height: 100%;
}
.top-nav .topnav ul li:hover > a,
.top-nav .topnav ul li a:hover {
  /*color: #990B2C;*/
  /*background: #FFF;*/
  border-radius: 0 0 8px 8px;
}
.top-nav .topnav ul li.nav-has-sub > a::after {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.top-nav .topnav ul li.nav-has-sub:hover > a::after {
  /*border-color: #990B2C;*/
}
.top-nav  .topnav ul li:nth-last-child{
	border-radius: 0 0 8px 8px;
}

.top-nav .search{background: url(../images/search_bg.png) no-repeat;width: 27px;height: 27px;position: absolute;right: 35px;top: 50%;margin-top: -13.5px;}
.down-ico a{position: absolute;z-index: 98;background: url(../images/down_ico01.png) no-repeat;width: 24px;bottom:20px;left: 50%;margin-left: -12px;height:27px;cursor: pointer;-moz-animation: bounce 2s infinite;-webkit-animation: bounce 2s infinite;animation: bounce 2s infinite;}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.imgbox img{width: 100%;}
.imgbox{margin-top:44px;}
.dialog-show{display: none;}
.dialogcontent{max-width:70%;max-height:55%;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 100;}
.dialogcontent video{max-width: 100%;max-height: 100%;}
.dialogcontent .close{position: absolute;background: url(../images/close.png) no-repeat left center;top: -48px;right: -55px;width: 38px;margin-left: -26.5px;height: 38px;background-size: 100%;cursor: pointer;}
/*云彩*/
.sky .clouds_one {
  background: url("../images/cloud_one.png") repeat-x;
  position: absolute;
  left: 0;
  top:4%;
  height: 100%;
  width:300%;
  -webkit-animation: cloud_one 80s linear infinite;
  -moz-animation: cloud_one 80s linear infinite;
  -o-animation: cloud_one 80s linear infinite;
  animation: cloud_one 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sky .clouds_two {
  background: url("../images/cloud_two.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:300%;
  -webkit-animation: cloud_two 75s linear infinite;
  -moz-animation: cloud_two 75s linear infinite;
  -o-animation: cloud_two 75s linear infinite;
  animation: cloud_two 75s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@-webkit-keyframes cloud_one {
  0% {
	left: 0
  }
  100% {
	left: -200%
  }
}
@-moz-keyframes cloud_one {
  0% {
	left: 0
  }
  100% {
	left: -200%
  }
}
@keyframes cloud_one {
  0% {
	left: 0
  }
  100% {
	left: -200%
  }
}

@-webkit-keyframes cloud_two {
  0% {
	left: 0
  }
  100% {
	left: -200%
  }
}
@-moz-keyframes cloud_two {
  0% {
	left: 0
  }
  100% {
	left: -200%
  }
}
@keyframes cloud_two {
  0% {
	left: 0
  }
  100% {
	left: -200%
  }
}
.imgbox .title{text-align: center;font-size:40px;color: #000;margin: 46px 0;}
.imglist{margin:0 auto;width: 1200px;}
.imglist li{float:left;max-width:380px;margin: 0 10px;box-sizing: border-box;position: relative;cursor: pointer;}
.imglist li img{max-width: 100%;}
.imglist li .mask{position: absolute;background: rgba(0,0,0,.5);top: 0;left: 0;width: 100%;height: 100%;display: none;animation: show 0.4s ease-in;}
.imglist li .mask p{color: #fff;position: absolute;top: 50%;left: 50%;line-height: 30px;transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.imglist li:hover .mask{display: block;}
@keyframes show {
	0% {
	    opacity: 0;
	}
	50% {
	    opacity: 0.5;
	}
	
	100% {
	    opacity: 1;
	}
}
@-moz-keyframes show {
	0% {
	    opacity: 0;
	}
	50% {
	    opacity: 0.5;
	}
	
	100% {
	    opacity: 1;
	}
}
@-webkit-keyframes show {
	0% {
	    opacity: 0;
	}
	50% {
	    opacity: 0.5;
	}
	
	100% {
	    opacity: 1;
	}
}
.videobtn{position: absolute;width: 30%;height:40%;top:50%;left: 50%;transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);cursor: pointer;}
.imgnewlist,.img02newlist{width:initial}
.imgnewlist li{width:49.5%;max-width: initial;text-align:right;margin: 0;margin-right:.5%;}
.imgnewlist li:nth-child(2){text-align: left;margin-left:.5%;margin-right: 0;}
.imgnewlist li p{text-align: center;}
.imgnewlist li img{width: initial;}
.img02newlist{margin-top: 15px;}
.img02newlist li{width:32.3%;margin-right:1%;max-width: initial;margin: 0;}
.img02newlist li:nth-last-child(1){margin-right:0;margin-left:1%;}
.img02newlist li:nth-child(2){margin-left:1%;}
/*0510*/
.section .fp-tableCell .carousel-item,.section .fp-tableCell .carousel-inner{height: 100%;}
.section .fp-tableCell .carousel-indicators li{width: 11px;height: 11px;border-radius: 50%;margin: 0 8px;}
.section .fp-tableCell .carousel-control-next-icon,.section .fp-tableCell .carousel-control-prev-icon{width: 32px;height: 64px;}
.section .fp-tableCell .carousel-item{position: relative;}
.section .fp-tableCell .carousel-item a{position:absolute;left: 0;top: 0;width: 100%;height: 100%;}
.section .fp-tableCell .carousel-item .c-img{position: absolute;left: 50%;top:40%;margin-top: -104px;margin-left:-415px;z-index: 2;}
.rq-content{position: relative;z-index: 1;width: 100%;height: 100%;}
.rq-content>div{position: absolute;animation: waft 2s linear infinite;}
.rq-content .q-01{background: url(../images/q01.png) no-repeat left bottom;width: 287px;height:100%;left: 0;bottom: 0;animation: waft 3s linear infinite;background-size:100% 60%;}
.rq-content .q-02{background: url(../images/q02.png) no-repeat left bottom;width: 287px;height:100%;left:287px;bottom: 0;animation: waft 2s linear infinite;}
.rq-content .q-03{background: url(../images/q03.png) no-repeat left bottom;width: 287px;height:100%;left:574px;bottom: 0;animation: waft 3s linear infinite;}
.rq-content .q-04{background: url(../images/q04.png) no-repeat left bottom;width: 846px;height:100%;right:0;bottom: 0;animation: waft 6s linear infinite;}
@keyframes waft {
  0% {transform: translate3d(0, 0, 0) scale(1);    opacity: 1;  }
  100% {transform: translate3d(0, -200px, 0) scale(1.5);    opacity: 0;  }
}
/*0513*/
.dh ul{position: relative;overflow: hidden;width: 100%;height: 806px;margin-top: 100px;}
.dh ul li{float: left;overflow: hidden;height: 100%;position: relative;cursor: pointer;    margin-right: 34px;width: 13.2%;}
.dh ul li:nth-last-child(1){margin-right: 0;}
.dh ul li a{display: block;width: 100%;height: 100%;}
.dh ul li .layer{position: absolute;bottom: 0;left: 0;width: 100%;height: 100%;}
.dh ul li .layer .p1{position: absolute;top:0;left:0;width: 100%;height: 186px;background: #fff;text-align: center;line-height: 186px;}
.dh ul li .layer .p1 img{vertical-align: middle;margin-top: 40px;}
.dh ul li .layer .p2{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.dh ul li .layer .p2 b,.dh ul li .layer .p2 span{display: block;font-weight: bold;font-size: 20px;}
.dh ul li .layer .p1 b,.dh ul li .layer .p1 span{display: block;font-weight: bold;font-size: 14px;}
.dh ul li.curr{}
.col1{color: #00A39A;}
.col2{color: #fff;}
/*footer*/
.footer{background: #fff;padding:28px 0}
.bottom-nav{width: 100%;text-align:center;}
.bottom-nav li{display: inline-block;width:25%;float: left;text-align: center;font-size: 16px;color: #7c8574;}
.bottom-nav li a{color: #7c8574;}
.bottom-nav li .b-box{width:75%;border: 1px solid #efefef;padding:10px 26px;margin: 0 auto;min-height: 205px;position: relative;}
.bottom-nav li .b-box::after,.bottom-nav li .b-box::before{display: block;clear: both;content: "";}
.bottom-nav li .b-box .left-bd{width:39px;padding-right: 14px;border-right: 4px solid #aab2a3;margin-right: 14px;    line-height: 17px;}
.bottom-nav li .b-box .fl a{display: block;}
.bottom-nav li .b-box .r-bd{margin-top:9px;}
.bottom-nav li .b-box .l-bd{margin-top: 40px;}
.bottom-nav li .b-box .p-content{position: absolute;top: 50%;transform: translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-webkit-transform: translate(-50%,-50%);left:50%;min-width: 63%;line-height: 23px;}
.bottom-information{margin: 40px auto;color: #7c8574;font-size: 16px;}
.bottom-information li{float: left;width: 38.3%;text-align: left;}
.bottom-information li:nth-last-child(1){width:23.3%;}
.bottom-information li >div{padding-left: 68px;min-height: 60px;    padding-top: 6px;}
.bottom-information li .b-tel{background: url(../images/b_ico.png) no-repeat left center;}
.bottom-information li .b-add{background: url(../images/b_ico02.png) no-repeat left center;}
.bottom-information li .b-sm{background: url(../images/b_ico03.png) no-repeat left 5px;position: relative;}
.bottom-information li .b-sm span{display: inline-block;color:#7c8574;background: url(../images/b_ico04.png) no-repeat top center;    background-size: 55px 46px;padding-top: 45px;margin-right: 12px;margin: 0 15px;cursor: pointer;}
.bottom-information li .b-sm .bigimg{display: none;background: #fff;padding: 10px;border-radius: 5px;position: absolute;width: 120px;box-shadow: 1px 0px 6px rgba(0,0,0,.3);right: -100px;top: 0;}
.bottom-information li .b-sm span:hover .bigimg{display: block;}
.copyright{text-align: center;padding: 40px 0 10px 0;border-top: 1px solid #efefef;color: #898989;font-size: 14px;}
.white-box{height:10px;width: 100%;}
.map-content{margin: 60px 0;}



