@charset "UTF-8";
@font-face {
  font-family: FZLBJW;
  font-style: normal;
  font-weight: normal;
  src: url("../font/fzlbjt.ttf") format("truetype"); }

p {
  margin: 0;
  padding: 0; }

input, select, textarea {
  vertical-align: middle;
  *font-size: 100%; }

input {
  margin: 0;
  outline: 0;
  padding: 0; }

input::-ms-clear {
  display: none; }

html, body {
  overflow-x: hidden;
  height: auto; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.ddw {
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  font-size: 0.32rem;
  z-index: 9999; }

.ddw2 {
  position: absolute;
  left: 0.4rem;
  top: 0;
  color: #000;
  font-size: 0.32rem;
  z-index: 9999; }

.num_box {
  position: relative; }

.section {
  color: #fff;
  width: 100%;
  text-align: center;
  position: relative; }

.fixed_r {
  position: absolute;
  left: 0.2rem;
  z-index: 999;
  bottom: 50%;
  display: none; }

.fixed_r li {
  width: 0.02rem;
  height: 0.46rem;
  background: transparent;
  border: 0.02rem solid #fff;
  cursor: pointer;
  margin-top: 0.16rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  opacity: .25; }

.fixed_r li.on {
  opacity: 1; }

.logo {
  position: fixed;
  z-index: 999;
  top: 0.3rem;
  left: 0.4rem; }

.logo img {
  width: 3.08rem;
  height: 1rem; }

.nav-list {
  position: absolute;
  top: 0.4rem;
  left: 34%; }

.nav-list::before, .nav-list::after {
  display: block;
  content: "";
  clear: both; }

.nav-list li {
  float: left;
  margin: 0 0.3rem; }

.nav-list li a {
  color: #fff; }

.num-info {
  position: absolute;
  z-index: 999;
  left: 46%;
  top: 10%;
  margin-left: -5.34rem; }

.num-info .flarger {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff; }

#button-group {
  margin-top: 1.28rem; }

#button-group a {
  display: inline-block;
  padding: 0.22rem 0.84rem;
  border: 0.04rem solid #fff;
  border-radius: 1rem;
  color: #fff;
  margin: 0 0.38rem;
  min-width: 2rem; }

#button-group a:hover {
  background: #fff;
  color: #000; }

.sea {
  pointer-events: none; }

/*index*/
/*汽泡*/
.top-nav .sea {
  display: none; }

.bubble {
  position: absolute;
  bottom: 0;
  -webkit-animation: bubbleRise 4s linear infinite;
          animation: bubbleRise 4s linear infinite; }

.bubble1 {
  left: 30%;
  width: 0.66rem;
  height: 0.68rem;
  -webkit-animation: bubbleRise 8s linear infinite;
  animation: bubbleRise 8s linear infinite;
  background: url(../images/qp_01.png) no-repeat;
  background-size: 100% 100%; }

.bubble2 {
  left: 70%;
  width: 0.22rem;
  height: 0.22rem;
  -webkit-animation: bubbleRise 5s linear infinite;
  animation: bubbleRise 5s linear infinite;
  background: url(../images/qp_02.png) no-repeat;
  background-size: 100% 100%; }

.bubble3 {
  left: 80%;
  width: 0.16rem;
  height: 0.18rem;
  -webkit-animation: bubbleRise 4s linear infinite;
  animation: bubbleRise 4s linear infinite;
  background: url(../images/qp_03.png) no-repeat;
  background-size: 100% 100%; }

@-webkit-keyframes bubbleRise {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
    border-color: rgba(255, 255, 255, 0.2); }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  30% {
    -webkit-transform: translate(-0.02rem, -0.6rem);
            transform: translate(-0.02rem, -0.6rem); }
  50% {
    -webkit-transform: translate(0.02rem, -1.2rem);
            transform: translate(0.02rem, -1.2rem); }
  75% {
    -webkit-transform: translate(-0.02rem, -1.8rem) scale(1.2);
            transform: translate(-0.02rem, -1.8rem) scale(1.2); }
  98% {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.35); }
  100% {
    -webkit-transform: translate(0, -2.4rem) scale(1.4);
            transform: translate(0, -2.4rem) scale(1.4);
    opacity: 0;
    border-color: rgba(255, 255, 255, 0.2); } }

@keyframes bubbleRise {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
    border-color: rgba(255, 255, 255, 0.2); }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  30% {
    -webkit-transform: translate(-0.02rem, -0.6rem);
            transform: translate(-0.02rem, -0.6rem); }
  50% {
    -webkit-transform: translate(0.02rem, -1.2rem);
            transform: translate(0.02rem, -1.2rem); }
  75% {
    -webkit-transform: translate(-0.02rem, -1.8rem) scale(1.2);
            transform: translate(-0.02rem, -1.8rem) scale(1.2); }
  98% {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.35); }
  100% {
    -webkit-transform: translate(0, -2.4rem) scale(1.4);
            transform: translate(0, -2.4rem) scale(1.4);
    opacity: 0;
    border-color: rgba(255, 255, 255, 0.2); } }

/*汽泡*/
.top-nav {
  background: rgba(0, 0, 0, 0.5);
  height: 1.52rem;
  line-height: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; }

.top-nav .topnav {
  margin: 0 auto;
  text-align: center; }

.top-nav .topnav li {
  text-align: center;
  position: relative;
  font-size: 0.32rem;
  display: inline-block;
  padding: 0 0.16rem;
  margin: 0 0.3rem; }

.top-nav .topnav li a {
  color: #fff; }

.top-nav > .topnav > li > a {
  padding: 0.56rem 0.2rem 0.58rem 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  /*color: #eee;*/
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease; }

.top-nav > .topnav > li:hover .sea {
  display: block; }

.top-nav > .topnav > li:hover > a {
  /*color: #000;*/
  position: relative; }

.top-nav > .topnav > li:hover::before {
  display: block;
  content: "";
  position: absolute;
  left: -0.28rem;
  background: url(../images/nav_bg.png) no-repeat;
  bottom: 0.04rem;
  width: 0.28rem;
  height: 1.14rem;
  margin-top: -0.57rem; }

.top-nav > .topnav > li:hover::after {
  display: block;
  content: "";
  position: absolute;
  background: url(../images/nav_bg.png) no-repeat;
  right: -0.28rem;
  bottom: 0.04rem;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  width: 0.28rem;
  height: 1.14rem;
  margin-top: -0.57rem; }

.top-nav > .topnav > li.nav-has-sub > a {
  padding-right: 0.5rem;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  line-height: initial; }

.top-nav > .topnav > li.nav-has-sub > a::after {
  position: absolute;
  top: 50%;
  right: 0.14rem;
  width: 0.16rem;
  height: 0.16rem;
  margin-top: -0.1rem;
  border-bottom: 0.02rem solid #fff;
  border-right: 0.02rem solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease; }

.top-nav .topnav ul {
  position: absolute;
  left: 199.98rem;
  top: 1.52rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0.16rem 0.16rem;
  -webkit-box-shadow: 0 0.02rem 0.1rem rgba(0, 0, 0, 0.47);
          box-shadow: 0 0.02rem 0.1rem rgba(0, 0, 0, 0.47); }

.top-nav .topnav li:hover > ul {
  left: auto; }

.top-nav > .topnav ul ul {
  margin-left: 100%;
  top: 0; }

.top-nav > .topnav ul li {
  height: 0;
  width: 100%;
  -webkit-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
  background: url(../images/border_line.png) no-repeat top center;
  margin: 0; }

.top-nav .topnav li:hover > ul > li {
  height: 1.04rem;
  line-height: 1.04rem;
  text-align: center; }

.top-nav .topnav ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  display: block;
  height: 100%; }

.top-nav .topnav ul li:hover > a,
.top-nav .topnav ul li a:hover {
  /*color: #990B2C;*/
  /*background: #FFF;*/
  border-radius: 0 0 0.16rem 0.16rem; }

.top-nav .topnav ul li.nav-has-sub > a::after {
  position: absolute;
  top: 0.5rem;
  right: 0.2rem;
  width: 0.08rem;
  height: 0.08rem;
  border-bottom: 0.02rem solid #eee;
  border-right: 0.02rem solid #eee;
  content: "";
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease; }

.top-nav .topnav ul li.nav-has-sub:hover > a::after {
  /*border-color: #990B2C;*/ }

.top-nav .topnav ul li:nth-last-child {
  border-radius: 0 0 0.16rem 0.16rem; }

.top-nav .search {
  background: url(../images/search_bg.png) no-repeat;
  width: 0.54rem;
  height: 0.54rem;
  position: absolute;
  right: 0.7rem;
  top: 50%;
  margin-top: -0.27rem;
  background-size: 100% 100%; }

.mobile-header {
  height: 4.74rem;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  line-height: 4.74rem; }

.btn-box {
  width: 1.24rem;
  height: 0.96rem; }
  .btn-box img {
    width: 100%;
    height: 100%; }

.mobile-logo {
  width: 8.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.mobile-search {
  width: 1.6rem;
  float: right;
  height: 4.74rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mobile-search img {
    width: 100%; }

.mobile-btn {
  width: 1.6rem;
  float: left;
  height: 4.74rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem; }
  .mobile-btn img {
    width: 100%; }

.mobile-nav {
  width: 15rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: -15rem;
  top: 0;
  z-index: 999; }

.mobile-nav-top {
  height: 9.4rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mobile-nav-top img {
    width: 4.72rem; }

.mobile-mask {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 997;
  display: none; }

.card-link-icon1 {
  width: 1.6rem;
  height: 1.6rem; }

.card-link-icon2 {
  width: 0.6rem;
  height: 1.1rem;
  float: right; }

.card-link-span {
  color: #000;
  margin-left: 1.3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.card-body-ul li a {
  padding: 0 3.48rem 0 4rem;
  height: 4rem;
  border-bottom: 0.02rem solid #ddd;
  color: #000;
  font-size: 0.44rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .card-body-ul li a img {
    width: 0.86rem;
    height: 1.3rem; }
  .card-body-ul li a span {
    margin-left: 0.8rem; }

.card-body-ul li:nth-last-child(1) {
  border-bottom: none; }

@media screen and (max-width: 576px) {
  .top-nav {
    display: none; }
  .mobile-header {
    display: block; }
  .card-header {
    padding: 0; }
  .card-link {
    height: 4rem;
    width: 100%;
    padding: 0 2.4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.44rem; }
  .card {
    background-color: rgba(255, 255, 255, 0.8); }
  .card-body {
    padding: 0; }
  .card-header:first-child {
    border-radius: 0; } }

.footer {
  padding-top: 0.58rem;
  padding-bottom: 0.92rem;
  background-color: #fff; }

.link-box {
  padding-left: 0.86rem;
  padding-right: 3.88rem;
  margin-bottom: 1.08rem; }

.link-box-item {
  border: 0.02rem solid #efefef;
  color: #7c8574;
  font-size: 0.32rem;
  width: 3.66rem;
  height: 3.48rem;
  line-height: 1.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .link-box-item a {
    color: #7c8574; }

.item-part1 div {
  width: 0.54rem;
  line-height: 1;
  text-align: center; }

.item-part2 {
  width: 0.08rem;
  height: 1.3rem;
  background-color: #7c8574;
  margin: 0 0.18rem; }

.msg-box {
  padding-right: 1.96rem; }

.msg-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.msg-item-img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.32rem; }
  .msg-item-img img {
    width: 100%;
    height: 100%; }

.msg-item-font {
  font-size: 0.32rem;
  color: #7c8574;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.code-item {
  text-align: center;
  margin-right: 0.8rem; }

.mr40 {
  margin-right: 0.8rem;
  margin-bottom: 0.4rem; }

.code-item-img {
  text-align: center; }
  .code-item-img img {
    width: 1rem;
    height: 1rem; }

.code-item-font {
  font-size: 0.32rem;
  color: #7c8574; }

.copyright {
  margin-top: 1.2rem;
  font-size: 0.32rem;
  color: #898989;
  text-align: center; }

.big-code-box {
  width: 2.84rem;
  height: 2.5rem;
  position: absolute;
  right: -2rem;
  top: -0.2rem; }

.big-code-img {
  width: 100%;
  height: 100%;
  text-align: right; }
  .big-code-img img {
    width: 2rem;
    height: 2rem; }

.big-code-box {
  display: none; }

.code-item1:hover ~ .big-code-box1 {
  display: block; }

.code-item2:hover ~ .big-code-box2 {
  display: block; }

@media screen and (max-width: 576px) {
  .link-box-item {
    width: auto;
    height: auto;
    margin-bottom: 0.6rem;
    padding: 0.6rem 0; }
  .item-part2 {
    margin: 0 1.6rem; }
  .link-box {
    padding: 0; } }

.location {
  font-size: 0.28rem;
  color: #000000;
  overflow: hidden;
  background-color: #fff; }
  .location ul {
    overflow: hidden; }
  .location li {
    float: left;
    margin-right: 0.18rem; }
  .location .location-img {
    margin-right: 0.4rem; }

.w-1180 {
  width: 23.6rem;
  margin: 0 auto; }

.w-1340 {
  width: 26.8rem;
  margin: 0 auto; }

.w-1670 {
  width: 33.4rem;
  margin: 0 auto; }

.dn {
  display: none; }

.vh {
  visibility: hidden; }

.tc {
  text-align: center; }

textarea {
  resize: none;
  border: none; }

input, button, select, textarea {
  outline: none; }

.nav-right {
  position: absolute;
  right: -3.24rem;
  top: 2rem;
  z-index: 999;
  color: #fff;
  font-family: FZLBJW; }

.nav-right-title {
  margin-bottom: 0.2rem;
  width: 2.68rem;
  height: 2rem;
  position: relative;
  text-align: center;
  font-size: 0.52rem;
  padding: 0.2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-right-title img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .nav-right-title .title-font-box {
    position: relative;
    z-index: 10; }
  .nav-right-title .title-font-box p {
    line-height: 1; }

.nav-right-ul li {
  margin-bottom: 0.2rem;
  border-radius: 0.2rem;
  width: 2.68rem;
  border: none;
  font-size: 0.34rem;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  position: relative; }

.nav-right-ul a {
  color: #FFFFFF;
  padding: 0.3rem 0;
  display: inline-block;
  width: 100%;
  height: 100%; }

.nav-right-ul .green {
  background-color: #a6b26a;
  -webkit-box-shadow: 0.06rem 0.06rem 0.06rem rgba(131, 142, 75, 0.5);
          box-shadow: 0.06rem 0.06rem 0.06rem rgba(131, 142, 75, 0.5); }

.nav-right-ul .orange {
  background-color: #d09b68;
  -webkit-box-shadow: 0.06rem 0.06rem 0.06rem rgba(183, 120, 58, 0.5);
          box-shadow: 0.06rem 0.06rem 0.06rem rgba(183, 120, 58, 0.5); }

.nav-right-ul .sea {
  display: none; }

.nav-right-ul li.orange:hover {
  background-color: #b7783b !important; }
  .nav-right-ul li.orange:hover .sea {
    display: block; }

.nav-right-ul li.green:hover .sea {
  display: block; }

.nav-right-ul .scroll-mark {
  background-color: #b7783b; }

.title-box {
  text-align: center;
  padding: 1.6rem 0 0.2rem 0;
  background-color: #fff; }

.title-img {
  width: 8.44rem;
  display: inline-block;
  border: 0.02rem solid #8e8e8e;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  text-align: center; }
  .title-img div {
    text-align: center;
    color: #8e8e8e;
    font-size: 0.4rem;
    font-family: FZLBJW;
    line-height: 1.4; }
  .title-img .title-name {
    color: #000000;
    font-size: 0.8rem; }
  .title-img .title-eng {
    color: #8e8e8e;
    font-size: 0.4rem;
    padding-bottom: 0.2rem; }
  .title-img .title-line {
    width: 3.12rem;
    height: 0.04rem;
    background-color: #8e8e8e;
    display: inline-block; }
  .title-img img {
    width: 100%;
    height: 100%; }

.the-p {
  padding: 0 1.6rem;
  position: relative;
  z-index: 20; }

.main-box {
  position: relative; }

.bg-LR {
  position: absolute;
  z-index: -1;
  top: 2.1rem;
  height: 11.86rem;
  width: 6.72rem; }
  .bg-LR img {
    width: 100%;
    height: 100%; }

.bg-left {
  left: -3.36rem; }

.bg-right {
  right: -3.36rem; }

.mobile-right-nav-btn {
  width: 2rem;
  height: 2rem;
  display: none;
  position: fixed;
  right: 0.2rem;
  z-index: 996; }
  .mobile-right-nav-btn img {
    width: 100%;
    height: 100%; }

.mobile-right-nav {
  width: 15rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  right: -15rem;
  top: 0;
  z-index: 999;
  font-family: FZLBJW;
  overflow-y: scroll; }
  .mobile-right-nav li {
    border: 0.02rem solid rgba(0, 0, 0, 0.125); }
  .mobile-right-nav .mobile-nav-right-ul li.green {
    background-color: #a6b26a; }
  .mobile-right-nav .mobile-nav-right-ul li.orange {
    background-color: #b7783b !important; }
  .mobile-right-nav .mobile-nav-right-ul a, .mobile-right-nav .mobile-nav-right-ul a {
    height: 4rem;
    width: 100%;
    padding: 0 2.4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 1; }

.mobile-right-nav-top {
  height: 9.4rem;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mobile-right-nav-top img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .mobile-right-nav-top .title-font-box {
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem 0; }

@media screen and (max-width: 576px) {
  .nav-right {
    display: none; }
  .mobile-right-nav-btn {
    display: block; } }

.carousel-item img {
  width: 100%;
  height: 12.54rem; }

.title-box {
  text-align: center;
  padding: 1.6rem 0 1rem 0;
  background-color: #fff; }

.title-img {
  width: 8.44rem;
  display: inline-block;
  text-align: center;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .title-img div {
    text-align: center;
    color: #8e8e8e;
    font-size: 0.4rem;
    font-family: FZLBJW;
    line-height: 1.4; }
  .title-img .title-name {
    color: #000000;
    font-size: 0.8rem; }
  .title-img .title-eng {
    color: #8e8e8e;
    font-size: 0.4rem; }
  .title-img .title-line {
    width: 3.12rem;
    min-height: 0.04rem;
    background-color: #8e8e8e;
    display: inline-block; }
  .title-img img {
    width: 100%;
    height: 100%; }

.main-box {
  background-color: #fff;
  margin: 0.4rem 0; }

.oh {
  overflow: hidden; }

.imgs-box {
  float: left;
  height: 100%; }
  .imgs-box img {
    width: 100%;
    height: 100%; }
  .imgs-box .img-item {
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .imgs-box .img-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  .imgs-box .font-item {
    position: absolute; }

.imgs-box1 {
  width: 39%; }
  .imgs-box1 .img-item:nth-child(1) {
    height: 54.32258%; }
  .imgs-box1 .img-item:nth-child(2) {
    height: 43.6129%; }

.imgs-box2 {
  width: 29%; }
  .imgs-box2 .img-item {
    height: 100%; }

.imgs-box3 {
  width: 29%; }
  .imgs-box3 .img-item:nth-child(1) {
    height: 38.58065%; }
  .imgs-box3 .img-item:nth-child(2) {
    height: 58.83871%; }

.mb20 {
  margin-bottom: 0.4rem; }

.mlr20 {
  margin: 0 0.4rem; }

.imgs-wrap {
  overflow: hidden;
  height: 15.5rem; }

.font-item1 {
  width: 100%;
  overflow: hidden;
  left: 0;
  bottom: 0; }

.font-item2 {
  width: 2.66rem;
  height: 100%;
  overflow: hidden;
  right: 0;
  top: 0;
  padding: 0.9rem 0.52rem; }

.font-item4 {
  width: 2.66rem;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0.52rem 0.52rem; }

.font-item1-l {
  width: 38%;
  float: left;
  height: 2rem;
  position: relative; }

.font-item3-l {
  width: 46%;
  float: left;
  height: 2rem;
  position: relative; }

.font-item2-t {
  width: 100%;
  position: relative; }

.font-item1-r {
  width: 62%;
  float: left;
  height: 2rem;
  padding: 0.7rem 1.1rem 0;
  font-size: 0.32rem;
  color: #fff; }

.font-item3-r {
  width: 54%;
  float: left;
  height: 2rem;
  padding: 0.4rem 0 0;
  font-size: 0.32rem;
  color: #fff; }

.font-item5-r {
  width: 54%;
  float: left;
  height: 2rem;
  padding: 0.7rem 0 0;
  font-size: 0.32rem;
  color: #fff; }

.font-item2-b {
  width: 100%;
  position: relative;
  padding: 0 0.3rem 0;
  font-size: 0.32rem;
  color: #fff;
  overflow: hidden;
  margin-top: 0.4rem; }

.font-item4-b {
  width: 100%;
  position: relative;
  padding: 0 0.5rem 0;
  font-size: 0.32rem;
  color: #fff;
  overflow: hidden;
  margin-top: 0.4rem; }

.font-item1-r-1 {
  float: left;
  height: 0.84rem;
  line-height: 0.84rem; }

.font-item1-r-2 {
  float: left;
  line-height: 0.44rem; }

.font-item2-b-1 {
  float: left;
  width: 0.5rem;
  text-align: center;
  line-height: 1.4; }

.font-item3-r-1 {
  width: 33%;
  float: left;
  text-align: center; }

.font-item5-r-1 {
  width: 50%;
  float: left;
  text-align: center; }

.font-item1-r-line {
  width: 0.04rem;
  height: 0.84rem;
  float: left;
  margin: 0 0.6rem;
  background-color: #fff;
  line-height: 0.2rem; }

.font-item-num {
  position: absolute;
  color: #FFFFFF;
  font-size: 0.5rem;
  font-family: FZLBJW;
  width: 1.54rem;
  height: 0.86rem;
  text-align: center; }
  .font-item-num img {
    width: 100%;
    height: 100%; }
  .font-item-num span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-27%, -36%);
        -ms-transform: translate(-27%, -36%);
            transform: translate(-27%, -36%); }

.font-item-num1 {
  top: 0.58rem;
  left: 0.58rem; }

.font-item-num2 {
  top: 0;
  left: 0;
  position: relative; }

.font-item-title {
  font-size: 0.7rem;
  color: #FFFFFF;
  font-family: FZLBJW; }

.font-item-title1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 2rem;
  line-height: 2.2rem;
  text-align: center; }

.font-item-title2 {
  line-height: 1;
  text-align: center;
  padding: 0 0.32rem;
  margin-top: 0.5rem; }

.title-arrow img {
  width: 0.48rem; }

@media screen and (max-width: 576px) {
  .imgs-wrap {
    height: auto; }
  .mlr20 {
    margin: 0.4rem 0; }
  .imgs-box {
    width: 100% !important; }
  .font-item1-l, .font-item3-l {
    height: 3.6rem; }
  .font-item1-r-2 {
    line-height: 1; }
  .font-item-title {
    font-size: 2rem; }
  .font-item-num {
    width: 5rem;
    height: 2rem; }
  .font-item-num span {
    font-size: 1.6rem; }
  .font-item4 {
    width: 7rem; }
  .font-item4-b, .font-item2-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .font-item3-r, .font-item5-r {
    width: 47%;
    padding-top: 0;
    padding-bottom: 0.2rem; }
  .font-item2 {
    right: 2rem;
    width: 6rem; }
  .font-item2-b-1 {
    width: 1.4rem; } }

/*# sourceMappingURL=ts10.css.map */
